* {
  padding: 0;
  margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: #9d9d9d00;
}

ul {
  list-style-type: none;
}

input {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  overflow: clip;
  overflow-clip-margin: content-box;
}

.container {
	max-width: 1920px;
	margin: 0 auto;
}

.hide-section, .hide-section-transform {
	display: none;
}

.visually-hidden {
	position: absolute;
	width: 0;
	height: 0;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
