.calendar__from {
	position: absolute;
	width: 48%;
  height: 297px;
  top: -67px;
	left: -11px;
  z-index: 1;
}

.calendar__to {
	position: absolute;
	width: 48%;
	height: 297px;
	top: -67px;
	left: 48%;
	z-index: 1;
}

.filter__calendar-from, .filter__calendar-to {
	position: absolute;
	z-index: 1;
	width: 352px;
	height: 297px;
  left: -25px;
  top: 91px;
}

.calendar__linker {
	height: 11px;
	width: 11px;
	background-color: #fff;
	transform: rotate(45deg);
	position: absolute;
	top: 4px;
	left: 46%;
}

.calendar__container {
	height: 97%;
	margin-top: 10px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .25));
	background-color: #fff;
	border-radius: 4px;
}

.calendar__month {
	display: flex;
	justify-content: space-between;
	height: 68px;
	border-bottom: 1px solid #C4C4C4;
}

.calendar__month>button {
	cursor: pointer;
	margin-top: 31px;
	width: 106px;
	height: 7px;
}
.prev__month {
	background-image: url(../../assets/images/previous.png);
}
.prev__month, .next__month {
	border: none;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #fff;
}

.calendar__month-desc {
	font-weight: 500;
	font-size: 30px;
	line-height: 28px;
	text-transform: capitalize;
	color: #2d2b2f;
	align-self: center;
}

.next__month {
	background-image: url(../../assets/images/next.png);
}

.calendar__date {
	font-size: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(34px, 1fr));
  grid-gap: 10px;
  box-sizing: border-box;

/*Lo siguiente del calendar table*/
  border-collapse: collapse;
	font-weight: 400;
	width: 100%;
	height: 79%;
	text-align: center;
}

.date__current-month {
  display: flex;
  align-items: center;
  justify-content: center;
/*  del date month*/
	color: #000;
	cursor: pointer;

  &:nth-child(7n) {
    font-weight: 700;
  }
}

.date__other-month {
	display: flex;
	align-items: center;
  justify-content: center;
	color: #00000030;
	cursor: not-allowed;
}

.date__today {
	box-sizing: border-box;
	color: #000;
	background-color: #ffa8004f;
	border: 2px solid #FFA800;
	border-radius: 5px;
	cursor: pointer;
}
